Repository lion-byte/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix", "git add"],
  "*.{json,yml,yaml,css,less,sass,ts,md,mdx,graphql}": [
    "prettier --write",
    "git add"
  ]
}

feat: update parser to @babel/eslint-parser
  .eslintrc.json
  .travis.yml
  package-lock.json
  package.json
  test/__snapshots__/index.test.js.snap
Due: prettier --write

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  33c27b5fd044c66e02a16ab052fb9ec9d641d335
Due: none

build: add `next` release branch
  .releaserc.json
  .travis.yml
Due: prettier --write

feat: drop many rules and defer to recommended/prettier
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  test/__snapshots__/index.test.js.snap
Due: prettier --write

chore(release): 2.0.0-next.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  920439a6e9e3c5939edd0fca55aad5db01dd43b5
Due: none

feat: add `@typescript-eslint/recommended` rules
  .eslintrc.json
  test/__snapshots__/index.test.js.snap
Due: prettier --write

chore(release): 2.0.0-next.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c741304cfe404a83136d213285a726fd86088ea5
Due: none

Notes added by 'git notes add'
  cdb4c7fa771cae52d92d9fdb08c8a0ec99ec295b
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Swap to GitHub Actions
  .github/workflows/ci.yml
  .travis.yml
Due: prettier --write

ci: Update non-ESLint dev dependencies
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .releaserc.json
  package-lock.json
  package.json
  release.config.mjs
Due: prettier --write

feat: Remove Jest in ESLint config and dev testing
  .npmignore
  .vscode/settings.json
  index.js
  package-lock.json
  package.json
  test/__snapshots__/index.test.js.snap
  test/index.test.js
  test/index.test.js.snapshot
Due: prettier --write, eslint --fix

feat: Update to ESLint 10
  .eslintrc.json
  .vscode/settings.json
  CHANGELOG.md
  eslint.config.mjs
  index.js
  package-lock.json
  package.json
  test/index.test.js
  test/index.test.js.snapshot
Due: prettier --write, eslint --fix

chore: Update typescript-eslint to latest
  package-lock.json
  package.json
Due: prettier --write

ci: Modify CI workflow to run on main/next branches and pull requests
  .github/workflows/ci.yml
Due: prettier --write

ci: Add publish workflow
  .github/workflows/publish.yml
Due: prettier --write

ci: Fix publish action to allow publish commit
  .github/workflows/publish.yml
Due: prettier --write

chore(release): 2.1.0-next.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  766b648cf2091ddcd5790ef9cbb626082b539559
Due: none

doc(README): Remove Travis-CI badge
  README.md
Due: prettier --write

chore(release): 3.0.0-next.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e48b3ad5fc23913b31807f60862e2fc10736176
Due: none

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6fb2a02db258e1878fb6ae9b80d6bc132511d669
Due: none

build: Run npm audit fix
  package-lock.json
Due: prettier --write

feat: update dependencies
  .husky/pre-commit
  .nano-staged.json
  package-lock.json
  package.json
  release.config.mjs
Due: prettier --write

chore(release): 3.1.0-next.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  191d339b02fbc1c593cf87bc604515365e54ac24
Due: none

chore: update action versions
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier --write
